---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ site.first_name }} {{ site.middle_name }}
      <span class="font-weight-bold">{{ site.last_name }}</span>
    </h1>
    <p class="desc"><b>{{ page.subtitle }}</b></p>
  </header>

  <article>

    While deep learning continues to achieve impressive results on an ever-growing range of tasks,
    our understanding of the principles underlying these successes remains largely limited.
    This problem is usually tackled from a mathematical point of view, aiming to prove rigorous
    theorems about optimization or generalization errors of standard algorithms, but so far they
    have been limited to overly-simplified settings. The main goal of this workshop is to promote
    a complementary approach that is centered on the use of the scientific method, which forms hypotheses
    and designs controlled experiments to test them. More specifically, it focuses on empirical analyses
    of deep networks that can validate or falsify existing theories and assumptions, or answer questions
    about the success or failure of these models. This approach has been largely underexplored, but has great
    potential to further our understanding of deep learning and to lead to significant progress in both theory and practice.
    The secondary goal of this workshop is to build a community of researchers, currently scattered in several subfields,
    around the common goal of understanding deep learning through a scientific lens.

    <br>
    <!-- <br>
    Submission Deadline: <b>Sep 17 ‘24 (AOE)</b>.
    <br> -->
    <br>
    <b>Accepted papers:</b> <a href="https://openreview.net/group?id=NeurIPS.cc%2F2024%2FWorkshop%2FSciForDL">OpenReview</a>.
    <br>
    The workshop will be held on <b>Sunday, December 15th</b> in <b>Meeting rooms 205-207</b>.
    <br>
    For latest news about the workshop, follow <a href="https://twitter.com/scifordl">@scifordl</a> on X/Twitter.
    Submit questions for our panelists <a href="https://forms.gle/Caxz8EuCzp7mX9Y77">here. </a>
    <!-- To apply for financial assistance fill out this <a href="https://forms.gle/mANcM9ZkS7q7BCof7">form. </a> -->
    <br>
    <br>


          <br>
        <div class="speakers">
            <h2>Keynote Speakers</h2>
            <div class="container">
                <div class="row row-cols-2">

                    <!-- Zico Kolter -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/zicokolter.jpg" srcset="/assets/img/zicokolter.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Zico Kolter
                                        </h4>

                                        <h6 class="card-text">Carnegie Mellon University
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/zicokolter" title="Twitter" target="_blank"
                                                rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=UXh1I6UAAAAJ" title="GooleScholar"
                                                  target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://zicokolter.com/" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                                      <!-- Hanie Sedghi -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/hanie.webp" srcset="/assets/img/hanie.webp" style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title"> Hanie Sedghi
                                        </h4>

                                        <h6 class="card-text"> Google DeepMind
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/haniesedghi" title="Twitter" target="_blank"
                                                rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=_9GX96fDWAMC" title="GooleScholar"
                                                  target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://haniesedghi.com/" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Yamini Bansal
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/yamini.jpg" srcset="/assets/img/yamini.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Yamini Bansal
                                        </h4>

                                        <h6 class="card-text"> Google DeepMind
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/whybansal" title="Twitter" target="_blank"
                                                rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=uj1OljkAAAAJ" title="GooleScholar"
                                                  target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://yaminibansal.com/about/" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- Misha Belkin -->
                    <div class="card-item col">
                      <div class="card">
                          <div class="row g-0">
                              <div class="card-img col-md-6">

                                  <img src="/assets/img/belkin_1.jpeg" srcset="/assets/img/belkin_1.jpeg"
                                      style="width: 150px; height: 150px; object-fit: cover;">

                              </div>
                              <div class=" col-md-6">
                                  <div class="card-body">
                                      <h4 class="card-title"> Misha Belkin
                                      </h4>

                                      <h6 class="card-text"> UC San Diego & Amazon
                                      </h6>

                                      <div class="row ml-1 mr-1 p-0">

                                          <div class="google-scholar-icon">
                                            <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                              <a href="https://scholar.google.com/citations?user=Iwd9DdkAAAAJ" title="GooleScholar"
                                                target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                            </div>
                                          </div>

                                           
                                          <div class="website-icon">
                                              <div class="icon" data-toggle="tooltip" title="Website">
                                                  <a href="http://misha.belkin-wang.org/" title="Website"
                                                      target="_blank" rel="noopener noreferrer"><i
                                                          class="fas fa-address-card"></i></a>
                                              </div>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                    <!-- Surya Ganguli -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/surya.jpg" srcset="/assets/img/surya.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                        </div>
                        <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Surya Ganguli
                                        </h4>

                                        <h6 class="card-text">Stanford University
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/SuryaGanguli" title="Twitter" target="_blank"
                                                rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=rF2VvOgAAAAJ" title="GooleScholar"
                                                  target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://ganguli-gang.stanford.edu/surya.html" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Tom Goldstein -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/tom.jpg" srcset="/assets/img/tom.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Tom Goldstein
                                        </h4>

                                        <h6 class="card-text">University of Maryland
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/tomgoldsteincs" title="Twitter" target="_blank"
                                                rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=KmSuVtgAAAAJ" title="GooleScholar"
                                                  target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://www.cs.umd.edu/~tomg/" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

            <br>
        <div class="speakers">
            <h2>Panelists </h2>
            <div class="container">
                <div class="row row-cols-2">

                  <!-- Yasaman Bahri -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/yasaman.jpg" srcset="/assets/img/yasaman.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title"> Yasaman Bahri
                                        </h4>

                                        <h6 class="card-text"> Google DeepMind
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/yasamanbb" title="Twitter" target="_blank"
                                                rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=p2_vHmAAAAAJ" title="GooleScholar"
                                                  target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://sites.google.com/view/yasamanbahri/home" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Terry Sejnowski -->
                    <!-- <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/Sejnowski-Web.jpg" srcset="/assets/img/Sejnowski-Web.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Terry Sejnowski
                                        </h4>

                                        <h6 class="card-text"> Salk Institute & UC San Diego
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/sejnowski" title="Twitter" target="_blank"
                                                rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=m1qAiOUAAAAJ" title="GooleScholar"
                                                  target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://cnl.salk.edu/" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- Lenka Zdeborová -->
                    <!-- <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/lenka.jpg" srcset="/assets/img/lenka.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title"> Lenka Zdeborová
                                        </h4>

                                        <h6 class="card-text"> EPFL
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/zdeborova" title="Twitter" target="_blank"
                                                rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=gkCjy_UAAAAJ" title="GooleScholar"
                                                  target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://www.epfl.ch/labs/spoc/prof-lenka-zdeborova/" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- Andrew Gordon Wilson -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/andrew.jpg" srcset="/assets/img/andrew.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title"> Andrew Gordon Wilson
                                        </h4>

                                        <h6 class="card-text"> New York University
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/andrewgwils" title="Twitter" target="_blank"
                                                rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=twWX2LIAAAAJ" title="GooleScholar"
                                                  target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://cims.nyu.edu/~andrewgw/" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Misha Belkin -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/belkin_1.jpeg" srcset="/assets/img/belkin_1.jpeg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title"> Misha Belkin
                                        </h4>

                                        <h6 class="card-text"> UC San Diego & Amazon
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">

                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=Iwd9DdkAAAAJ" title="GooleScholar"
                                                  target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="http://misha.belkin-wang.org/" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Irina Rish -->
                    <!-- <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/irina.jpg" srcset="/assets/img/irina.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title"> Irina Rish
                                        </h4>

                                        <h6 class="card-text"> Université de Montréal & Mila
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/irinarish" title="Twitter" target="_blank"
                                                rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=Avse5gIAAAAJ" title="GooleScholar"
                                                  target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://www.irina-rish.com/" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->


                    <!-- Eero Simoncelli -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/eero.jpg" srcset="/assets/img/eero.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title"> Eero Simoncelli
                                        </h4>

                                        <h6 class="card-text"> New York University
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                              <a href="https://twitter.com/EeroSimoncelli" title="Twitter" target="_blank"
                                                rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                             
                                            <div class="google-scholar-icon">
                                              <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                <a href="https://scholar.google.com/citations?user=MplR7_cAAAAJ" title="GooleScholar"
                                                  target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                                              </div>
                                            </div>

                                             
                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://www.cns.nyu.edu/~eero/" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <br>
    <div class="speakers">
      <h2>Organizers</h2>

      <div class="container">
        <div class="row row-cols-2">

          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/zahra.jpg"
                    srcset="/assets/img/zahra.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Zahra Kadkhodaie
                    </h4>

                    <h6 class="card-text">Flatiron Institute & New York University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://x.com/zkadkhodaie" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=_b5JdjYAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.simonsfoundation.org/people/zahra-kadkhodaie/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/florentin.jpg"
                    srcset="/assets/img/florentin.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Florentin Guth
                    </h4>

                    <h6 class="card-text">Flatiron Institute & New York University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/FlorentinGuth" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.fr/citations?user=opC_fpQAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://florentinguth.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/sanaelotfi.jpg" srcset="/assets/img/sanaelotfi.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Sanae Lotfi
                    </h4>

                    <h6 class="card-text">New York University
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/LotfiSanae" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=0GyjMX4AAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://sanaelotfi.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/davis.jpg" srcset="/assets/img/davis.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Davis Brown
                    </h4>

                    <h6 class="card-text">UPenn & Pacific Northwest National Lab
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/davisbrownr?lang=en" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?hl=en&user=zQEbpYYAAAAJ&view_op=list_works&sortby=pubdate" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://davisrbrown.com/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/micah.webp" srcset="/assets/img/micah.webp" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Micah Goldblum
                    </h4>

                    <h6 class="card-text"> Columbia University
                    </h6>
                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/micahgoldblum?lang=en" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=pGDKzuUAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://goldblum.github.io/" title="Website" target="_blank" rel="noopener noreferrer"><i
                              class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">

                  <img src="assets/img/valentin_im.jpg"
                    srcset="assets/img/valentin_im.jpg" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Valentin De Bortoli
                    </h4>

                    <h6 class="card-text">Google DeepMind
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                       
                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/ValentinDeBort1" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>


                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=dn_F9I4AAAAJ" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://vdeborto.github.io/" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="card-item col">
            <div class="card">
              <div class="row g-0">
                <div class="card-img col-md-6">



                  <img src="/assets/img/saxe_portrait_low_res.png" srcset="/assets/img/saxe_portrait_low_res.png" style="width: 150px; height: 150px; object-fit: cover;">

                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h4 class="card-title">Andrew Saxe
                    </h4>

                    <h6 class="card-text">UCL
                    </h6>

                    <div class="row ml-1 mr-1 p-0">

                      <div class="icon" data-toggle="tooltip" title="Twitter">
                        <a href="https://twitter.com/SaxeLab" title="Twitter" target="_blank"
                          rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                      </div>

                       
                      <div class="google-scholar-icon">
                        <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                          <a href="https://scholar.google.com/citations?user=h0Al1fcAAAAJ&hl=en" title="GooleScholar"
                            target="_blank" rel="noopener noreferrer"><i class="ai ai-google-scholar"></i></a>
                        </div>
                      </div>


                       
                      <div class="website-icon">
                        <div class="icon" data-toggle="tooltip" title="Website">
                          <a href="https://www.sainsburywellcome.org/web/people/andrew-saxe" title="Website" target="_blank"
                            rel="noopener noreferrer"><i class="fas fa-address-card"></i></a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br>


    <br>
    <h3 class="post-title"><span class="font-weight-bold">Questions?</span></h3>
    Contact us at
    <a href="mailto:scienceofdl.workshop.2024@gmail.com" target="_blank">scienceofdl.workshop.2024@gmail.com</a> or <a href="https://twitter.com/scifordl">@scifordl</a>.

  </article>

</div>
