---
layout: default
---

<!-- about.html -->
<div class="post">
    <header class="post-header">
        <h1 class="post-title">
            {{ site.first_name }} {{ site.middle_name }}
            <span class="font-weight-bold">{{ site.last_name }}</span>
        </h1>
        <p class="desc"><b>{{ page.subtitle }}</b></p>
    </header>

    <article>

        While deep learning continues to achieve impressive results on an ever-growing range of tasks,
        our understanding of the principles underlying these successes remains largely limited.
        This problem is usually tackled from a mathematical point of view, aiming to prove rigorous
        theorems about optimization or generalization errors of standard algorithms, but so far they
        have been limited to overly-simplified settings. The main goal of this workshop is to promote
        a complementary approach that is centered on the use of the scientific method, which forms hypotheses
        and designs controlled experiments to test them. More specifically, it focuses on empirical analyses
        of deep networks that can validate or falsify existing theories and assumptions, or answer questions
        about the success or failure of these models. This approach has been largely underexplored, but has great
        potential to further our understanding of deep learning and to lead to significant progress in both theory and
        practice.
        The secondary goal of this workshop is to build a community of researchers, currently scattered in several
        subfields,
        around the common goal of understanding deep learning through a scientific lens.

        <br>
        <br>
        Submission Deadline: <b>Feb 4 ‘26 (AOE)</b>.
        <br>
        <!-- <br>
        <b>Accepted papers:</b> <a
        href="https://openreview.net/group?id=NeurIPS.cc%2F2024%2FWorkshop%2FSciForDL">OpenReview</a>.
        <br>
        <b>Videos of talks and panel session:</b> <a href="https://neurips.cc/virtual/2024/workshop/84741">NeurIPS
        website</a>.
        <br> -->
        The workshop will be held on <b>April 26 or 27</b> in <b>Rio de Janeiro, Brazil</b>.
        <br>
        For latest news about the workshop, follow <a href="https://twitter.com/scifordl">@scifordl</a> on X/Twitter.
        <!-- Submit questions for our panelists <a href="https://forms.gle/Caxz8EuCzp7mX9Y77">here. </a> -->
        <!-- To apply for financial assistance fill out this <a href="https://forms.gle/mANcM9ZkS7q7BCof7">form. </a> -->
        <br>
        <br>

        <br>
        <div class="speakers">
            <h2>Keynote Speakers</h2>
            <div class="container">
                <div class="row row-cols-2">

                    <!-- Preetum Nakkiran -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/preetum.jpg" srcset="/assets/img/preetum.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Preetum Nakkiran
                                        </h4>

                                        <h6 class="card-text">Apple
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                                <a href="https://twitter.com/PreetumNakkiran" title="Twitter"
                                                    target="_blank" rel="noopener noreferrer"><i
                                                        class="fab fa-twitter"></i></a>
                                            </div>


                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=T7VVZvsAAAAJ"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://preetum.nakkiran.org/" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- David Bau -->
                    <!-- <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/davidbau.jpeg" srcset="/assets/img/davidbau.jpeg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">David Bau
                                        </h4>

                                        <h6 class="card-text">Northeastern University
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                                <a href="https://twitter.com/davidbau" title="Twitter" target="_blank"
                                                    rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>


                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=496p92QAAAAJ"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://baulab.info/" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- Jeremy Cohen -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/jeremycohen.jpg" srcset="/assets/img/jeremycohen.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Jeremy Cohen
                                        </h4>

                                        <h6 class="card-text">Flatiron Institute
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                                <a href="https://twitter.com/jeremymcohen" title="Twitter"
                                                    target="_blank" rel="noopener noreferrer"><i
                                                        class="fab fa-twitter"></i></a>
                                            </div>


                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=vQH0nEMAAAAJ"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://jmcohen.github.io/" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Julia Kempe -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/juliakempe.jpg" srcset="/assets/img/juliakempe.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Julia Kempe
                                        </h4>

                                        <h6 class="card-text">NYU & Meta
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=5a98ONAAAAAJ"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://cims.nyu.edu/~kempe/" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Matthieu Wyart -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/matthieuwyart.jpg" srcset="/assets/img/matthieuwyart.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Matthieu Wyart
                                        </h4>

                                        <h6 class="card-text">Johns Hopkins University & EPFL
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=2LSXUH4AAAAJ"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://physics-astronomy.jhu.edu/directory/matthieu-wyart/"
                                                        title="Website" target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <br>
            More coming soon!

        </div>

        <br>
        <div class="speakers">
            <h2>Panelists</h2>
            <div class="container">
                <div class="row row-cols-2">

                    <!-- Preetum Nakkiran -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/preetum.jpg" srcset="/assets/img/preetum.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Preetum Nakkiran
                                        </h4>

                                        <h6 class="card-text">Apple
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                                <a href="https://twitter.com/PreetumNakkiran" title="Twitter"
                                                    target="_blank" rel="noopener noreferrer"><i
                                                        class="fab fa-twitter"></i></a>
                                            </div>


                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=T7VVZvsAAAAJ"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://preetum.nakkiran.org/" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Lenka Zdeborová -->
                    <!-- <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/lenka.jpg" srcset="/assets/img/lenka.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Lenka Zdeborová
                                        </h4>

                                        <h6 class="card-text">EPFL
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                                <a href="https://twitter.com/zdeborova" title="Twitter" target="_blank"
                                                    rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>


                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=gkCjy_UAAAAJ"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://people.epfl.ch/lenka.zdeborova/?lang=en"
                                                        title="Website" target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- Jascha Sohl-Dickstein -->
                    <!-- <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/jascha.jpg" srcset="/assets/img/jascha.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Jascha Sohl-Dickstein
                                        </h4>

                                        <h6 class="card-text">Anthropic
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                                <a href="https://twitter.com/jaschasd" title="Twitter" target="_blank"
                                                    rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>


                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=h2xwlmkAAAAJ"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://sohldickstein.com/" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- Julia Kempe -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/juliakempe.jpg" srcset="/assets/img/juliakempe.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Julia Kempe
                                        </h4>

                                        <h6 class="card-text">NYU & Meta
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=5a98ONAAAAAJ"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://cims.nyu.edu/~kempe/" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Richard Baraniuk -->
                    <!-- <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/richardbaraniuk.jpg" srcset="/assets/img/richardbaraniuk.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class=" col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Richard Baraniuk
                                        </h4>

                                        <h6 class="card-text">Rice University & OpenStax
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                                <a href="https://twitter.com/richb" title="Twitter" target="_blank"
                                                    rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>


                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=3s6yZYMAAAAJ"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://richb.rice.edu/" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- Matthieu Wyart -->
                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/matthieuwyart.jpg" srcset="/assets/img/matthieuwyart.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Matthieu Wyart
                                        </h4>

                                        <h6 class="card-text">Johns Hopkins University & EPFL
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=2LSXUH4AAAAJ"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>


                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://physics-astronomy.jhu.edu/directory/matthieu-wyart/"
                                                        title="Website" target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <br>
                More coming soon!

            </div>
        </div>
        <br>
        <div class="speakers">
            <h2>Organizers</h2>

            <div class="container">
                <div class="row row-cols-2">

                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">



                                    <img src="/assets/img/zahra.jpg" srcset="/assets/img/zahra.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Zahra Kadkhodaie
                                        </h4>

                                        <h6 class="card-text">Flatiron Institute & New York University
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                                <a href="https://x.com/zkadkhodaie" title="Twitter" target="_blank"
                                                    rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>



                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=_b5JdjYAAAAJ&hl=en"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>



                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://www.simonsfoundation.org/people/zahra-kadkhodaie/"
                                                        title="Website" target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">



                                    <img src="/assets/img/florentin.jpg" srcset="/assets/img/florentin.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Florentin Guth
                                        </h4>

                                        <h6 class="card-text">Flatiron Institute & New York University
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                                <a href="https://twitter.com/FlorentinGuth" title="Twitter"
                                                    target="_blank" rel="noopener noreferrer"><i
                                                        class="fab fa-twitter"></i></a>
                                            </div>



                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.fr/citations?user=opC_fpQAAAAJ&hl=en"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>



                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://florentinguth.github.io/" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">



                                    <img src="/assets/img/sanaelotfi.jpg" srcset="/assets/img/sanaelotfi.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Sanae Lotfi
                                        </h4>

                                        <h6 class="card-text">New York University
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                                <a href="https://twitter.com/LotfiSanae" title="Twitter" target="_blank"
                                                    rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>



                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=0GyjMX4AAAAJ&hl=en"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>



                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://sanaelotfi.github.io/" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">



                                    <img src="/assets/img/davis.jpg" srcset="/assets/img/davis.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Davis Brown
                                        </h4>

                                        <h6 class="card-text">UPenn & Pacific Northwest National Lab
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                                <a href="https://twitter.com/davisbrownr?lang=en" title="Twitter"
                                                    target="_blank" rel="noopener noreferrer"><i
                                                        class="fab fa-twitter"></i></a>
                                            </div>



                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?hl=en&user=zQEbpYYAAAAJ&view_op=list_works&sortby=pubdate"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>



                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://davisrbrown.com/" title="Website" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">



                                    <img src="/assets/img/antonio.jpg" srcset="/assets/img/antonio.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Antonio Sclocchi
                                        </h4>

                                        <h6 class="card-text">University College London
                                        </h6>
                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                                <a href="https://x.com/AntSclocchi" title="Twitter" target="_blank"
                                                    rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=R81DvG0AAAAJ&hl=en"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>



                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://antonioscl.github.io/" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">

                                    <img src="/assets/img/sharvaree.jpg" srcset="/assets/img/sharvaree.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Sharvaree Vadgama
                                        </h4>

                                        <h6 class="card-text">University of Amsterdam
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">
                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                                <a href="https://x.com/SharvVadgama" title="Twitter" target="_blank"
                                                    rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                                            </div>

                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=gfRkDXEAAAAJ&hl=en"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">



                                    <img src="/assets/img/jamie.jpg" srcset="/assets/img/jamie.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Jamie Simon
                                        </h4>

                                        <h6 class="card-text">Imbue & UC Berkeley
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">


                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=zjGfh3sAAAAJ&hl=en"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>

                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://james-simon.github.io/" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card-item col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="card-img col-md-6">



                                    <img src="/assets/img/eero.jpg" srcset="/assets/img/eero.jpg"
                                        style="width: 150px; height: 150px; object-fit: cover;">

                                </div>
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h4 class="card-title">Eero Simoncelli
                                        </h4>

                                        <h6 class="card-text">NYU & Flatiron Institute
                                        </h6>

                                        <div class="row ml-1 mr-1 p-0">

                                            <div class="icon" data-toggle="tooltip" title="Twitter">
                                                <a href="https://twitter.com/EeroSimoncelli" title="Twitter"
                                                    target="_blank" rel="noopener noreferrer"><i
                                                        class="fab fa-twitter"></i></a>
                                            </div>


                                            <div class="google-scholar-icon">
                                                <div class="icon" data-toggle="tooltip" title="Goole Scholar">
                                                    <a href="https://scholar.google.com/citations?user=MplR7_cAAAAJ&hl=en"
                                                        title="GooleScholar" target="_blank"
                                                        rel="noopener noreferrer"><i
                                                            class="ai ai-google-scholar"></i></a>
                                                </div>
                                            </div>



                                            <div class="website-icon">
                                                <div class="icon" data-toggle="tooltip" title="Website">
                                                    <a href="https://www.cns.nyu.edu/~eero/" title="Website"
                                                        target="_blank" rel="noopener noreferrer"><i
                                                            class="fas fa-address-card"></i></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>


        <br>
        <h3 class="post-title"><span class="font-weight-bold">Questions?</span></h3>
        Contact us at
        <a href="mailto:scienceofdl.workshop@gmail.com" target="_blank">scienceofdl.workshop@gmail.com</a> or
        <a href="https://twitter.com/scifordl">@scifordl</a>.

        <!-- <br>
        <br>

        <h3 class="post-title"><span class="font-weight-bold">Sponsors</span></h3>

        We thank the Simons Foundation for their generous financial support.

        <div style="text-align: center; padding: 50px 0;">
            <img src="/assets/img/simons_foundation.png" alt="Simons Foundation Logo"
                style="max-width: 300px; height: auto;">
        </div> -->

    </article>

</div>